.editor {
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-aligned-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 0 1 auto; 
    margin: 0.5rem 0;
}

.spacer {
    margin: 0.5rem;
}

.editor-wrapper {
    flex: 1 1 auto;
    margin: 0.5rem 0;
}

.ace_editor {
    width: 100% !important;
    height: 100% !important;
    min-height: 600px;
}

.help-button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.output {
    margin: 0.5rem 0.5rem;
    width: auto !important;
    border-radius: 1rem;
}

.multi-line {
    white-space: pre-wrap;
}

.test-cases {
    display: none;
    margin: 0.5rem 0;
}

.full-width {
    width: 100%;
}

.tab-list {
    margin: 0;
    padding-inline-start: 0;
}

.tab-panel {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    background-color: #fff;
}
