.top-nav {
  background-color: #3f6aaf;
  padding: 1rem 2rem;
}

.top-nav > * {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #9bbcf2;
}

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
}

.spacer {
  margin: 0 2rem;
}

.footer > * {
  margin: 0;
  padding: 0;
}

.centered-page {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}
