.top-nav {
  background-color: #3f6aaf;
  padding: 1rem 2rem;
}

.App {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  background-color: #9bbcf2;
}

.grid {
  width: 100%;
  --auto-grid-min-size: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.footer {
  padding: 1rem 2rem;
}
