.top-nav {
  background-color: #3f6aaf;
  padding: 1rem 2rem;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  background-color: #9bbcf2;
  padding: 1rem 2rem;
}

.footer {
  padding: 1rem 2rem;
}
